* {
 box-sizing: border-box;
 font-family: 'Montserrat', sans-serif;
 font-size: 12px;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}
body {
 background: #fff;  /* fallback for old browsers */
 font-size: 12px;
}

.fundotable{
  background-color: #cecece;
}

#showtable{
  display: none;
}

.imgspace{
 margin-right: 5px;
 margin-left: 5px;
}

#form1{
  display: none;
}

#form2{
  display: none;
}

#form3{
  display: none;
}

#form8{
  display: none;
}

.colorname{
  color:#fff;
}

.shadowbox{
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.2);
}

.spacetopo{
  margin-top: 80px;
}

.barratopo{
  width: 100%;
  background: #373B44;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-bottom: 30px;
  padding: 15px;
}

.botao{
 margin:10px;
}
.space{
  margin-top:10px;
  margin-bottom:10px;
}

.login {
 width: 400px;
 background-color: #ffffff;
 box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.5);
 margin: 100px auto 20px auto;
}
.login h1 {
 text-align: center;
 color: #5b6574;
 font-size: 24px;
 padding: 20px 0 20px 0;
 border-bottom: 1px solid #dee0e4;
}
.login form {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 padding-top: 20px;
}
.login form label {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 50px;
 height: 50px;
 background-color: #3274d6;
 color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"] {
 width: 310px;
 height: 50px;
 border: 1px solid #dee0e4;
 margin-bottom: 20px;
 padding: 0 15px;
}
.login form input[type="submit"] {
 width: 100%;
 padding: 15px;
 margin-top: 20px;
 background-color: #3274d6;
 border: 0;
 cursor: pointer;
 font-weight: bold;
 color: #ffffff;
 transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
	background-color: #2868c7;
 transition: background-color 0.2s;
}